{
  "plugins": [
    "transform-strict-mode",
    "transform-es2015-modules-commonjs",
    "transform-es2015-spread",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    ["module-resolver", {
      "alias": {
        "@model": "./src/server/model",
        "@utils": "./src/utils",
        "@s-service": "./src/server/service"
      },
      "extensions": [".js", ".json"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-empower-assert",
        "babel-plugin-espower"
      ]
    }
  }
}